body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

#one img{
    width: 300px;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 18px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.links a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

ul{
    list-style: none;
}
